# Development #
###############
*.pyc
*,cover
*.pyo
*.egg-info
*.egg
.tox
*.*~
.DS_Store
/*.log
/.eggs

# Virtualenv #
##############
venv/
/.Python
/pip-selfcheck.json

# Build file #
##############
build/
dist/
/cnxeasybake/tests/html/*.html.tmp

# Coverage #
############
.coverage
htmlcov
