// Test before pseudo target

div[data-type='chapter'] {
    section.practice-test {
        move-to: eoc-practice-test;
    }
    section.key-equations {
          move-to: eoc-key-equations;
    }

    &::before {
      class: boc-preface;
      data-type: composite-page;
      container: div;
      content: "This is a very small page with a string on it";
    }

    &::after {
      class: eoc-practice-test;
      data-type: composite-page;
      container: div;
      content: pending(eoc-practice-test);

    }

    &::after {
      class: eoc-key-equations;
      data-type: composite-page;
      attr-my-type: study-this;
      container: div;
      content: pending(eoc-key-equations);

    }
}
// LOG: cnx-easybake DEBUG default div class boc-preface
// LOG: cnx-easybake DEBUG IdentToken as string: boc-preface
// LOG: cnx-easybake DEBUG default div data-type composite-page
// LOG: cnx-easybake DEBUG IdentToken as string: composite-page
// LOG: cnx-easybake DEBUG default div container div
// LOG: cnx-easybake DEBUG default div content "This is a very small page with a string on it"
// LOG: cnx-easybake DEBUG default section move-to eoc-practice-test
// LOG: cnx-easybake DEBUG default section move-to eoc-key-equations
// LOG: cnx-easybake DEBUG default section move-to eoc-practice-test
// LOG: cnx-easybake DEBUG default div class eoc-practice-test
// LOG: cnx-easybake DEBUG IdentToken as string: eoc-practice-test
// LOG: cnx-easybake DEBUG default div data-type composite-page
// LOG: cnx-easybake DEBUG IdentToken as string: composite-page
// LOG: cnx-easybake DEBUG default div container div
// LOG: cnx-easybake DEBUG default div content pending(eoc-practice-test)
// LOG: cnx-easybake DEBUG default div class eoc-key-equations
// LOG: cnx-easybake DEBUG IdentToken as string: eoc-key-equations
// LOG: cnx-easybake DEBUG default div data-type composite-page
// LOG: cnx-easybake DEBUG IdentToken as string: composite-page
// LOG: cnx-easybake DEBUG default div attr-my-type study-this
// LOG: cnx-easybake DEBUG IdentToken as string: study-this
// LOG: cnx-easybake DEBUG default div container div
// LOG: cnx-easybake DEBUG default div content pending(eoc-key-equations)
// LOG: cnx-easybake DEBUG Recipe default length: 23
