// Test copy and sort
div[data-type='chapter'] {
  dl.definition {
    copy-to: eoc-key-terms;
  }
}

// Containers
div[data-type='chapter']::after {
  class: eoc-key-terms;
  content: pending(eoc-key-terms);
  container: section;
  sort-by: dl > dt;
}
// LOG: cnx-easybake DEBUG default dl copy-to eoc-key-terms
// LOG: cnx-easybake DEBUG default dl copy-to eoc-key-terms
// LOG: cnx-easybake DEBUG default dl copy-to eoc-key-terms
// LOG: cnx-easybake DEBUG default div class eoc-key-terms
// LOG: cnx-easybake DEBUG IdentToken as string: eoc-key-terms
// LOG: cnx-easybake DEBUG default div content pending(eoc-key-terms)
// LOG: cnx-easybake DEBUG default div container section
// LOG: cnx-easybake DEBUG default div sort-by  dl > dt
// LOG: cnx-easybake DEBUG Recipe default length: 8
