// Test counters
ul {
  counter-reset: lights, cardassian-lights, my-lights -1;
  counter-reset: my-food 0;
  string-set: lname "This is the food and light list";
  }

li {
   counter-increment: items;
   }

li[data-type='light'] {
    counter-increment: lights;
    counter-increment: my-lights;
    &:not(:first-of-type) {
        counter-increment: cardassian-lights;
    }
}
li[data-type='food'] {
    counter-increment: my-food 500;
    class: "food-" target-counter(burger, items);
}

body::before {
    content: "Hint, the food is at item #" target-counter("burger", items)  " And maybe at #" target-counter("fries", items) "And has a title:" target-string(mylist, lname);
    }
body::after {
    content: "There are " counter(cardassian-lights) " lights!"
    }
body::after {
    content: "There are " counter(lights) " lights!"
    }
body::after {
    content: "There are " counter(my-lights) " lights!"
    }
body::after {
    content: "There are " counter(my-food) " calories!"
    }
body::after {
    content: "There are " counter(my-food, upper-roman) " calories!, " counter(lights, upper-latin)", " counter(cardassian-lights, lower-latin)
    }
