/* Two param attr and string functions - with default */
li {
  string-set: itemtype attr(data-type, 'item');
  string-set: itemclass attr(class, 'item');
}
li::after {
  content: "The type here: " string(itemtype, 'None!');
}
li::after {
  content: "The class here: " string(itemclass, 'None!');
}
li::after {
  content: "The other here: " string(itemother, 'None!');
}
li::after {
  content: attr(string(itemtype));
}
