/* Group by selector when rending bucket */
div[data-type="page"] > div[data-type="document-title"] {
  string-set: section-title content();
}
div[data-type="page"] span[data-type="term"]::after {
  content: content();
  container: span;
  class: glossary-term;
  move-to: gloss-term;
}
div[data-type="page"] span[data-type="term"]::after {
  content: string(section-title);
  container: a;
  attr-href: "#" attr(id);
  move-to: link;
}
div[data-type="page"] span[data-type="term"]::after {
  content: pending(gloss-term) pending(link);
  class: glossary-item;
  move-to: eob-glossary;
}
body::before {
  container: h1;
  content: "Index (well, sort of a glossary, really)";
  move-to: glossary-title;
}
body::before {
  container: h1;
  content: "End of Index";
  move-to: glossary-end;
}
body::after {
  class: glossary;
  content: pending(glossary-title) pending(eob-glossary) pending(glossary-end);
  group-by: span, "span::first-letter";
}
