div.index::before {
    container: span;
    class: os-index-divider;
    content: ", ";
    move-to: indexDivider;
}
span.index-item:not(:last-child)::outside {
    container: span;
    content: content() nodes(indexDivider);
    class: extra;
}

span.index-item:last-child::outside {
    container: span;
    content: content();
    class: extra;
}

span.extra > *:pass(2) {
    move-to: realIndex;
}

div.index:deferred:pass(2) {
    content: pending(realIndex)
}
