p::before { counter-increment: c1 100000; }
p::before { counter-increment: c1 1; }

ol,
ol { counter-increment: c2 1; }


p.pair1 { counter-increment: c3 1; }
.pair1 { counter-increment: c3 100000; }

.pair2 { counter-increment: c4 1 !important; }
p.pair2 { counter-increment: c4 100000; }

#actual { content: counter(c1) ', ' counter(c2) ', ' counter(c3) ', ' counter(c4); }
