/* Bogus and empty buckets */
div[data-type='chapter'] section.practice-test {
  move-to: eoc-practice-test;
}
div[data-type='chapter'] section.key-equations {
  move-to: eoc-key-equations;
}
div[data-type='chapter'] div.key-equations {
  move-to: empty-bucket;
}
div[data-type='chapter']::before {
  content: pending(nope);
}
div[data-type='chapter']::after {
  class: eoc-practice-test;
  data-type: composite-page;
  container: div;
  content: pending(bogus-no-such-bucket);
}
div[data-type='chapter']::after {
  class: eoc-key-equations;
  data-type: composite-page;
  attr-my-type: study-this;
  container: div;
  content: pending(empty-bucket);
}
