// An test doing string-set in a before
body {
    string-set: astring "Here's a string";
    }
div::before {
    string-set: mystring "My Cool String";
    content: string(astring) ;
    class: content() pending(astring) string(nostring);
    }

div::after {
    content: string(mystring);
    class: string(astring);
    }
