// Test wrapping two pending targets inside another
div[data-type='chapter'] {
    section.practice-test {
         move-to: eoc-practice-test;
    }
    section.key-equations {
         move-to: eoc-key-equations;
    }
    &::after {
         class: eoc-practice-test;
         container: div;
         content: pending(eoc-practice-test);
         move-to: eoc-all;

    }
    &::after {
         class: eoc-key-equations;
         container: div;
         content: pending(eoc-key-equations);
         move-to: eoc-all;
    }
    &::after {
         class: eoc-stuff;
         data-type: composite-page;
         container: div;
         content: pending(eoc-all);
    }
}
// LOG: cnx-easybake DEBUG section move-to eoc-practice-test
// LOG: cnx-easybake DEBUG section move-to eoc-key-equations
// LOG: cnx-easybake DEBUG section move-to eoc-practice-test
// LOG: cnx-easybake DEBUG div class eoc-practice-test
// LOG: cnx-easybake DEBUG IdentToken as string:  eoc-practice-test
// LOG: cnx-easybake DEBUG div container div
// LOG: cnx-easybake DEBUG div content pending(eoc-practice-test)
// LOG: cnx-easybake DEBUG div move-to eoc-all
// LOG: cnx-easybake DEBUG div class eoc-key-equations
// LOG: cnx-easybake DEBUG IdentToken as string:  eoc-key-equations
// LOG: cnx-easybake DEBUG div container div
// LOG: cnx-easybake DEBUG div content pending(eoc-key-equations)
// LOG: cnx-easybake DEBUG div move-to eoc-all
// LOG: cnx-easybake DEBUG div class eoc-stuff
// LOG: cnx-easybake DEBUG IdentToken as string:  eoc-stuff
// LOG: cnx-easybake DEBUG div data-type composite-page
// LOG: cnx-easybake DEBUG IdentToken as string:  composite-page
// LOG: cnx-easybake DEBUG div container div
// LOG: cnx-easybake DEBUG div content pending(eoc-all)
