/* Wrapping two pending targets inside another */
div[data-type='chapter'] section.practice-test {
  move-to: eoc-practice-test;
}
div[data-type='chapter'] section.key-equations {
  move-to: eoc-key-equations;
}
div[data-type='chapter']::after {
  class: eoc-practice-test;
  container: div;
  content: pending(eoc-practice-test);
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  class: eoc-key-equations;
  container: div;
  content: pending(eoc-key-equations);
  move-to: eoc-all;
}
div[data-type='chapter']::after {
  class: eoc-stuff;
  data-type: composite-page;
  container: div;
  content: pending(eoc-all);
}
