a {
    string-set: a_content content();
    content: fetch('http://archive.cnx.org' attr(href), 'body > *');
    container: div;
    data-type: page;
}
a::before {
    container: h1;
    content: string(a_content);
}
